{% extends 'base.html' %}

{% block title_block %}
Detalhes do Chamado
{% endblock title_block %}
{% block body_block %}
{% load static system %}


<div class="col-xl-10  col-center-auto justify-content-md-center col-lg-10">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark">Detalhes da Propriedade</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
{% if request.user|has_group:"Administrador"%}

                    <div class="dropdown-header"><i class="fas fa-fw fa-wrench"></i> Ações Gerais</div>

                    {%endif %}
                    <a class="dropdown-item" href="{%url 'propriedade-update' object.pk %}"><i
                            class="fas fa-fw fa-edit"></i>
                        Editar</a>
                    {%if not object.desativado %}

                    {%else%}

                    {%endif%}
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="col-md-12 position-relative">
            <div class="row ">
                <div class="col-4 d-none d-lg-block">
                    <img src="{% static '/img/logo2.png' %}" width="100%">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-dark">#{{object.id}}</strong>
                    <h3 class="mb-0">{{object.nome}}</h3>
                    <div class="mb-1 text-muted">
                    </div>
                    <div class="mb-1 text-muted"> #{{object.id}}</div>
                    <div class="mb-1 text-muted"> {{object.nome}}</div>
                    <div class="mb-1 text-muted"> {{object.endereco.rua}} {{object.endereco.bairro}}</div>
                    <div class="mb-1 text-muted">{{object.usuario}}</div>
                    <div class="mb-1 text-muted"> {%if object.desativado%} Desativado {%else%} Ativo  {%endif%}
                    </div>

                </div>
            </div>
            <div class="row ">


            </div>
            <div class="row ">
                <div class="col p-4 d-flex flex-column position-static">

                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}