
input[type="text" i],input[type="email" i],input[type="password" i],input[type="number" i],select,textarea {

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

 .dataTables_filter input[type="search" i]   {
 display: inline-block !important;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bs-docs-separator{
border-top: 0.5px solid #e3e6f0 !important;
margin: 1px 0 1em;background-color: #f8f9fc;
}
.center{
margin-left:40%;

}
.bg-card{
background-color: #f8f9fc;
}
.contador{
font-size:1!important;
    font-size: 5em !important;
    text-align: center;

}

.bg-user-perfil{
 width: 100% !important;
}

.errorlist > li{
    display: block !important;
 }

.row-my{
display: none;}


.grafico-card{
border: 1px solid #e3e6f0 ;
border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
margin-top: 1em;
}
.tabela-card{
border: 1px  #e3e6f0 ;
border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
margin-top: 1em;
width: 100%;
}
.collapse-my-menu{
font-size: 12px !important;
cursor: pointer;
margin-top:2px!important;
}

.circulo{
    margin-top: 2em;}

.notificacao{
border: none !important;
}
.topbar.dropdown-list .dropdown-header {
border: 1px solid #ffffff;
}

.bg-customize{
color: #ffffff;
}



