{% extends 'base.html' %}
{% load static %}
{% block title %}Alterar Senha{% endblock %}
{% block css_appusuario %}
    <link rel="stylesheet" type="text/css" href='{% static "css/appusuario.css" %}'>
{% endblock %}
{% block body_block %}
        <div class="ten wide column">
            <div class="ui very padded segment">
                <h1 class="ui header">Alteração de Senha</h1>
                <div class="ui success large message">
                    <div class="header">
                        Pronto!
                    </div>
                    <p>Sua senha foi alterada com sucesso!</p>
                </div>
            </div>

{% endblock %}