{% extends 'base.html' %}
{% load static %}
{% block css_appusuario %}
    <link rel="stylesheet" type="text/css" href='{% static "css/appusuario.css" %}'>
{% endblock %}
{% block title %}Informar senha{% endblock %}
{% block active_cadastro %}active{% endblock %}
{% block body_block %}
    <!--<div class="ui basic segment grid">-->
        <!--<div class="four wide column"></div>-->
        <!--<div class="eight wide column">-->
        <div class="ten wide column">
            <div class="ui very padded segment">
                <h1 class="ui header">Informar senha</h1>
                <form class="ui  form" action="{% url 'user-update' user.id %}" method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label><i class="lock icon"></i>Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                        {{ form.password }}
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </div>

                      <div class="field">
                        <label><i class="lock icon"></i>Confirmar Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                        {{ form.password }}
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </div>

                    <div class="ui basic right aligned segment">
                        <button class="ui large button e-green-button">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
            </div>
        <!--</div>-->
        <!--<div class="four wide column"></div>-->
    <!--</div>-->

{% endblock %}